.day {
	background-color: #fbfbfb;
	border: 1px solid #b9b9b9;
	border-radius: 0.25em;
	display: flex;
	flex-direction: column;
	height: 135px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0.25em;
	position: relative;
}

.day-number {
	border-radius: 50%;
	border: 2px dashed #e3b43d;
	font-weight: 700;
	text-align: center;
	height: 2em;
	width: 2em;
	line-height: 2em;

	z-index: 1;
}

.day-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5em;
}

.today {
	background-color: #e3b43d;
	color: white;
}

.other-month-day {
	border: 0px solid black;
	color: #b9b9b9;
}

.reminder-link {
	background-color: #fbfbfb;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
	cursor: pointer;
}

.z-index-1 {
	z-index: 1;
}
